.myclass{
    width: 100%;
    
   text-align: justify;
    align-content: center;
    height: 650px;
    background-color: white;
 }
 .setsize{
   
    height: 600px;  
    display: block;
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-left: 1px;
 }