<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-nav collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Lawn</a></li>
                <li><a href="#">NEW IN</a></li>
                <li><a href="#">Unstitched</a></li>
                <li><a href="#">Ready To Wear</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a aria-label="User Login" target="_blank" rel="noopener" href="#" title="Login">
                    <svg id="login-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                      <rect width="400" height="400" fill="none"/>
                      <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
                    </svg>
                  </a>
            </ul>
      
          </div>
    </div>

</nav> -->

<nav class="navbar navbar-expand-lg " style="background-color: white" >
  
 
<!-- <div class="logo">
  <img
  width="40"
  alt="Angular Logo"
  src="assets/images/logo.jpeg"
/>
<span>Raneej Collection</span>
</div> -->
<br>
  <a class="navbar-brand" href="/newin" (click)="onSelect('new-in')" routerLinkActive="newin">NEW IN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active">
        <a class="nav-link" href="/" (click)="onSelect('home')" routerLink="home">HOME </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/lawn" (click)="onSelect('lawn')" routerLink="lawn">LAWN </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/unstitched" (click)="onSelect('unstitched')" routerLink="unstitched">UNSTITCHED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/readytowear" (click)="onSelect('ready-to-wear')" routerLink="readytowear">READY TO WEAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cutpieces" (click)="onSelect('cut-pieces')" routerLink="cutpieces">CUT PIECES</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item signinlogo">
        <a class="nav-link" href="/login" (click)="onSelect('login')">LOGIN</a>
      </li>
    
  </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <hr>
  </div>
  
</nav>

